#canvas {
  display: block;
  margin: auto;
  margin-top: 100px;
}
body {
  background-color: #000;
  color: #fff;
  font-size: calc(var(--index) * 0.8);
  font-family: fac, sans-serif;
  line-height: 1.75;
  height: var(--depth);
  font-weight: 300;
}