* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.canvas {
  display: flex;
  margin: auto;
  margin-top: 80px;
}
body {
  background-color: black;
}
.game {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.phoneFrame {
  position: fixed;
}