* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 36;
  --depth: 3000px;
  --transition: 0.75s cubic-bezier(0, 0.65, 0.33, 0.99);
}
@font-face {
  font-family: fac;
  src: url(/fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}
@font-face {
  font-family: fac;
  src: url(/fonts/raleway-v22-cyrillic-100.woff2);
  font-weight: 100;
}
body {
  background-color: #000;
  color: black;
  font-size: calc(var(--index) * 0.8);
  font-family: fac, sans-serif;
  line-height: 1.75;
  height: var(--depth);
  font-weight: 300;
}
/* Шапка сайта */
.header {
  background-color: #252b30;
  position: fixed;
  min-width: 100vw;
}
.btn-header {
  padding: 15px 20px;
  color: #ed3456;
  background-color: #252b30;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1500px;
}
.units {
  transform-style: preserve-3d;
  height: 100%;
}
/* Насткройка расположения элементов в контейнере*/
.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition), opacity 0.75s ease;
  will-change: transform;
  transform-style: preserve-3d;
}
 a {
  text-decoration: none;
 }
/* Прозрачность фрейма */
.frame-bg {
  background-color: rgb(0 0 0/ .88);
  width: 100%;
  height: 100%;

}
/* Настройки фото */
.avatar-photo {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.hobby-photo {
  width: 250px;
  border-radius: 28px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.35);
  margin: 10px;
  padding: 3px;
}
/* Текст на странице хобби */
.hobby-text {
  text-align: center;
  font-family: mistral;
  font-size: 30px;
  color: #fff;
}
/* Настройка карточек */
.card {
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}
.card-left {
  right: calc(var(--side-small) / 2.5 * var(--index) + var(--gutter));
}

.card-right {
  left: calc(var(--side-big) / 2.5 * var(--index) + var(--gutter));
}
/* Цветовая палитра */
.bg-grey {
  background: rgb(130, 128, 128);
}
.bg-yellow {
  background: #b9a74e;
}
.bg-purple {
  background: #d347d8;
}
.bg-red {
  background: #ed3456;
}
.bg-green {
  background: #3fa347;
}
.bg-blue {
  background: #4987e4;
}
/* Таблицы */
.table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
}
.hobby-table {
  font-family: mistral;
  font-size: 30px;
  max-width: 70%;
  width: 70%;
}
th {
  font-weight: normal;
  padding: 10px 8px;
}
td {
  border-bottom: 1px solid #ccc;
  color: rgb(0, 0, 0);
  padding: 9px 8px;
  transition: 0.3s linear;
}
tr:hover td {
  color: #6699ff;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: black;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.btn {
  background: #000;
  padding: 15px 20px;
  color: #ed3456;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
}
